<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./z-index.css">
</head>
<body>
    <h1>Z-Index</h1>

   <div>
        <div class="prvi">
        
        </div>

        <div class="drugi">

        </div>

        <div class="treci">

        </div>
   </div>

    <br>
    <hr>

    <div>
        <div class="prvi-2">
        
        </div>
    
        <div class="drugi-2">
    
        </div>
    
        <div class="treci-2">
    
        </div>
    </div>

    <br>
    <hr>

    <div class="lastdiv">
        <div class="prvi-3">
        
        </div>
    
        <div class="drugi-3">
    
        </div>
    
        <div class="treci-3">
    
        </div>
    </div>
    
</body>
</html>