<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body>
    <h1>Layout</h1>
    <div class="prvipar">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro voluptatem necessitatibus voluptas quae sequi id, ipsam eveniet eos optio velit deserunt! Quos, commodi accusantium dolore voluptatibus at aliquam officia reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit possimus suscipit praesentium hic animi fugiat consequuntur amet, iure provident, repellendus laudantium voluptas asperiores error accusamus molestiae, sint ut maiores? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque repudiandae ipsum soluta dolores vel. Et molestiae officia veritatis illo fugit distinctio est ab, impedit similique aperiam? Libero magni et porro?</p>
    </div>

    
    <img class="prvas" src="./images/Ineos-plastic-energy-300x200.jpg" alt="plastic">
    

    
    <img class="drugas" src="./images/ocean-plastic-e1667386444726-300x200.jpg" alt="ocean">
    

    
    <img class="trecas" src="./images/money.jpg" alt="money">
    

    <div class="drugipar">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque veritatis reprehenderit repellat molestiae repellendus impedit debitis, optio ipsum ipsa exercitationem, minus velit laborum accusamus asperiores obcaecati eius quia. Consequatur, labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, ab dignissimos obcaecati possimus fugiat nemo omnis debitis cum architecto, ipsa dolores neque sequi nesciunt ratione facilis cupiditate assumenda reprehenderit labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab qui beatae nemo quo natus placeat, nam adipisci voluptatem tempora fuga optio in, eveniet aperiam laboriosam dignissimos doloribus. Distinctio, adipisci cum?</p>
    </div>
    
    <div class="trecipar">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sint explicabo ducimus, tempore dolorem, quaerat quod ab aut dolore provident, necessitatibus a magnam similique consectetur illo quis libero ullam qui! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam vitae, beatae itaque unde incidunt dolore culpa vero atque sint possimus temporibus sunt in molestiae magnam inventore nulla? Ab, nulla placeat! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium illo unde sint, inventore rerum sed harum veritatis? Sunt incidunt temporibus maxime enim, impedit minus. Eos est sint esse nihil aut!</p>
    </div>

    <div class="cetvrtipar">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident eaque dolorem quibusdam dicta deserunt eligendi distinctio fugiat explicabo similique quaerat quasi qui, velit quis ipsa possimus? Dignissimos debitis repudiandae magni. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, aut! Nihil voluptatum aspernatur, dicta similique doloribus optio obcaecati voluptates id possimus? Aliquam asperiores perferendis velit fugiat? Excepturi eveniet cum a! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore nam illo, saepe, fugit atque officia architecto quam mollitia tempora earum, voluptates facilis fuga rerum exercitationem itaque! Expedita soluta nemo voluptatem.</p>
    </div>

    <div class="petipar">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque veritatis reprehenderit repellat molestiae repellendus impedit debitis, optio ipsum ipsa exercitationem, minus velit laborum accusamus asperiores obcaecati eius quia. Consequatur, labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, ab dignissimos obcaecati possimus fugiat nemo omnis debitis cum architecto, ipsa dolores neque sequi nesciunt ratione facilis cupiditate assumenda reprehenderit labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab qui beatae nemo quo natus placeat, nam adipisci voluptatem tempora fuga optio in, eveniet aperiam laboriosam dignissimos doloribus. Distinctio, adipisci cum?</p>
    </div>
    
    <div class="sestipar">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sint explicabo ducimus, tempore dolorem, quaerat quod ab aut dolore provident, necessitatibus a magnam similique consectetur illo quis libero ullam qui! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam vitae, beatae itaque unde incidunt dolore culpa vero atque sint possimus temporibus sunt in molestiae magnam inventore nulla? Ab, nulla placeat! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium illo unde sint, inventore rerum sed harum veritatis? Sunt incidunt temporibus maxime enim, impedit minus. Eos est sint esse nihil aut!</p>
    </div>

    <div class="sedmipar">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident eaque dolorem quibusdam dicta deserunt eligendi distinctio fugiat explicabo similique quaerat quasi qui, velit quis ipsa possimus? Dignissimos debitis repudiandae magni. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, aut! Nihil voluptatum aspernatur, dicta similique doloribus optio obcaecati voluptates id possimus? Aliquam asperiores perferendis velit fugiat? Excepturi eveniet cum a! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore nam illo, saepe, fugit atque officia architecto quam mollitia tempora earum, voluptates facilis fuga rerum exercitationem itaque! Expedita soluta nemo voluptatem.</p>
    </div>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, rem beatae ad inventore unde culpa ipsa ipsum nemo, nesciunt quasi nulla. Ad, tenetur. Officia, dicta quidem? Nobis sed sequi consectetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sint. Debitis omnis repellat tempora, esse modi consequatur inventore rem laboriosam labore soluta, quia corporis consequuntur pariatur, nisi illo magnam corrupti! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem eos unde ut quaerat dolore ea at amet dolor a, obcaecati rerum vel est magni exercitationem praesentium provident omnis! Voluptas, culpa!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nam enim voluptates voluptate magni libero laboriosam, et at temporibus corrupti quod ullam harum repellendus, iure atque omnis nobis quasi error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nisi facilis provident, voluptas quam, error voluptate, neque vel quidem sed iure inventore. Repudiandae, ut? Reiciendis tempore nesciunt libero magni accusamus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laboriosam iusto exercitationem deleniti eaque? Commodi quod a pariatur quo rerum ullam provident, veniam sit nulla, cupiditate optio perspiciatis magnam sapiente.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, nemo vel? Nostrum culpa ad veniam veritatis quod aut blanditiis itaque, adipisci temporibus doloribus ab repellat quo voluptate maxime? Harum, doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore amet vitae praesentium nam aliquam. Vel vero, architecto aut quaerat iure, cupiditate facere ullam saepe natus assumenda molestias placeat corrupti explicabo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat suscipit ut, iusto, necessitatibus vel blanditiis, voluptatem architecto temporibus possimus explicabo iure cumque aliquam quisquam vero voluptatibus quia numquam eius quo?</p>
    

    <a href="./layout.html">Top of the page</a>

</body>
</html>