body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.pages {
    width: 100%;
    display: flex;
    margin: 0px auto;
}
ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    background-color: antiquewhite;
    padding-left: 0em;
}
.pages li {
    width: 10%;
    height: 5%;
    background-color: aliceblue;
    color: #13107f;
    text-align: center;
    border: 1px solid #13107f;
}

/* div .selected {
    background-color: aqua;
} */

h1 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 700;
    color: #dfe337; 
}

.list-of-characters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-bottom: 6em;
}

.character {
    background-color: antiquewhite;
    margin: 0em 0.5em;
    width: 22%;
    margin: 15px auto;
    text-align: center;
    border: 0.1em solid #787878;
    padding-bottom: 0.8em;
}

.character img {
    width: 100%;
}

.character a {
    text-decoration: none;
    color: #787878;
    margin: 1em auto;
}

.character a:hover {
    color: #13107f;
}

button {
    width: 90%;
    background-color: #dff7d5;
    padding: 0.5em;
    border:1px solid #295219;
    color: #295219;
    font-weight: 500;
}

button:hover {
    background-color: #9cc48b;
}

.liked {
    width: 90%;
    background-color:  #3f7828 ;
    padding: 0.5em;
    border:1px solid #b2e39e;
    color: #b2e39e;
    font-weight: 500;
}

a.character {
    border: none;
}