p {
    height: 300px;
}


.prva {
    height: 200px;
    float: right;
}

.druga {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.treca {
    width: 200px;
    height: 200px;
    float: left;
    
}



