<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./float.css">
</head>
<body>
    <div class="navigation">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>Blog</li>
        </ul>
    </div>

    <div class="prvi">
        <div class="plavi">
            <h1 class="cssh1">CSS</h1>
            <img class="cssimage" src="./images/html5-css3.png" alt="css">
        </div>

        <div class="narandzasti">
            <h1 class="htmlh1">HTML</h1>
            <img class="htmlimage" src="./images/732212.png" alt="html">
        </div>
    </div>

    <div class="drugi">
        <div class="slikaipar">
            <div class="prvaslika"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio doloribus veritatis nemo perspiciatis quisquam tempora iste labore ullam laboriosam officia sint, officiis, libero esse delectus vel culpa, eaque obcaecati cumque!</p>
        </div>

        <div class="slikaipar">
            <div class="drugaslika"></div>
            <p>Lorem ipsum, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore asperiores quasi minus dolorum debitis, ipsam harum beatae ut vel iure, magni quidem molestiae esse dolores commodi maiores suscipit delectus quo.</p>            
        </div>

        <div class="linkovi">

            <p>Rebuilding slack.com</p>
            <hr>
            <p>Zasto bootcamp format?</p>
            <hr>
            <p>React prozor u svet web aplikacija</p>
            <hr>
            <p>Najvece zablude o programerima u Srbiji</p>
            <hr>

        </div>
    </div>

    <div class="treci">
        <div class="slikaipar-1">
            <div class="prvaslika-1"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio doloribus veritatis nemo perspiciatis quisquam tempora iste labore ullam laboriosam officia sint, officiis, libero esse delectus vel culpa, eaque obcaecati cumque!</p>
        </div>

        <div class="slikaipar-1">
            <div class="drugaslika-1"></div>
            <p>Lorem ipsum, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore asperiores quasi minus dolorum debitis, ipsam harum beatae ut vel iure, magni quidem molestiae esse dolores commodi maiores suscipit delectus quo.</p>            
        </div>

        <div class="slikaipar-1">
            <div class="trecaslika-1"></div>
            <p>Lorem ipsum, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore asperiores quasi minus dolorum debitis, ipsam harum beatae ut vel iure, magni quidem molestiae esse dolores commodi maiores suscipit delectus quo.</p>            
        </div>

        
    </div>

    <div class="cetvrti">
        <div class="slikaipar-2">
            <div class="prvaslika-2"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio doloribus veritatis nemo perspiciatis quisquam tempora iste labore ullam laboriosam officia sint, officiis, libero esse delectus vel culpa, eaque obcaecati cumque!</p>
        </div>

        <div class="slikaipar-2">
            <div class="drugaslika-2"></div>
            <p>Lorem ipsum, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore asperiores quasi minus dolorum debitis, ipsam harum beatae ut vel iure, magni quidem molestiae esse dolores commodi maiores suscipit delectus quo.</p>            
        </div>

        <div class="slikaipar-2">
            <div class="trecaslika-2"></div>
            <p>Lorem ipsum, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore asperiores quasi minus dolorum debitis, ipsam harum beatae ut vel iure, magni quidem molestiae esse dolores commodi maiores suscipit delectus quo.</p>            
        </div>

        
    </div>

    <div class="footer">
        <p class="bit">&#169 BitStudent</p>
    </div>


    
</body>
</html>