.prva {
    list-style: circle;
}

.druga {
    list-style: square;
}

.treca {
    list-style-type: upper-alpha;
}

.cetvrta {
    list-style-type: upper-roman;
}

#petaisesta {
    list-style-image: url(https://www.w3schools.com/cssref/sqpurple.gif);
    width: 200px;
}

.sesta {
    list-style-image: url(https://www.w3schools.com/cssref/sqpurple.gif);
    /*list-style: inside;*/
}

li:hover {
    cursor:alias;
}

table {
    margin: auto;
    padding: 20px;
}

th {
    background-color: rgb(175, 46, 46);
    color: white;
    padding: 10px;
}

th:hover {
    cursor:crosshair;
}

td {
    padding: 10px 0px 10px 0px;
    height: 100px;
}

td:hover {
    cursor: grab;
}

tr {
    background-color: azure;
    text-align: center;
    
}

tr:nth-child(odd) {
    background-color: lightgray;
}

tr:hover  {
    background-color: yellow;
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* form*/
div.form {
    background-color: rgb(240, 240, 240);
    margin: auto;
    width: 230px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    border-radius: 30px 0px;
}

h2 {
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 48, 43);
    text-align: center;
    padding: 40px;
    padding-bottom: 1px;
    margin-bottom: 2px;
    
}
span {
    color:rgb(249, 191, 17);
}

hr {
    width: 225px;
    color: rgb(186, 185, 185);
    border: 1px solid;
}

label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: rgb(44, 43, 43);
    padding-bottom: 5px;
    display:block;
}

input {
    
    display: block;
    padding: 10px 10px 10px 10px;
    background-color: rgb(249, 249, 249);
    color: rgb(50, 48, 43);
    font-size: 100%;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 1px 2px 11px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 11px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 11px 1px rgba(0,0,0,0.75);
    
}

input:hover {
    cursor: progress;
}

button {
    background-color: brown;
    color: white;
    border-radius: 5px;
    width: 210px;
    padding: 10px;
    border: none;
    margin-top: 20px;
}

button:hover {
    /*cursor: grabbing;*/
    /*cursor: url(./images/icons8-hand-cursor.svg);*/
    cursor: url(https://icons8.com/icon/11205/hand-cursor);
}