p {
    background-color: yellow;
    border: 5px;
    margin-right: 20px;
    padding: none;
    display: inline-block;
    
    
}

.prvi {
    
    border: dotted;
    border-color: red;
    width: 300px;
    
}

.drugi {
    border: solid;
    border-color: green;
    
    width: 400px;
    text-align: center;
    display: none;

    
} 

.treci {
    border: dotted;
    border-color: red;
    width: 200px;
    visibility: hidden
}

.box h1 {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 50px 0px 50px 0px;
    text-align: center;
    background-color: bisque;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-box-shadow: 22px 15px 71px 4px rgba(194,149,194,1);
    -moz-box-shadow: 22px 15px 71px 4px rgba(194,149,194,1);
    box-shadow: 22px 15px 71px 4px rgba(194,149,194,1);
    border-radius: 40px;
}

